<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Write a new chat</title>

</head>
<body>
    <h3>Write a new chat</h3>
    <form method="POST"action="/chats">
        <input type="text" placeholder="who are you?" name="from">
        <br>
        <textarea name="msg" id="" placeholder="Write your message here"></textarea>
        <br>
        <input type="text" placeholder="add receiver" name="to">
        <br>
        <p><%= chat.created_at.toString().split(" ")[4] %></p>
        <p><%= chat.created_at.toString().split(" ").slice(0,4).join(" ")%></p> <br>
        <button>Create Chat</button>
    </form>
</body>
</html>