body {
margin-left: 20px;
}
.chat {
    background-color: rgb(212, 228, 241);
    padding: 20px;
    border-radius: 10px;
    display: inline-block;
}
.msg {
    background-color:dodgerblue;
    color: white;
    padding: 5px 15px;
    border-radius: 20px;
}